<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
</head>
<body>

    <div id="app">
        <!-- 记事本 数据的基本操作 -->
        <input type="text" v-model="data.content">
        <!-- 添加操作 -->
        <button @click="add">添加</button>

        <!-- 列表展示，与删除操作 -->
        <ul>
            <li v-for="(value,index) in data.list">
                {{index}}   {{value}}  <button @click="del(index)">删除</button>
            </li>
        </ul>

        <!-- 总数量 -->
        {{data.list.length}} <button @click="clear">清空</button>



    </div>

    <script type="module" >
        import {createApp, reactive} from "./js/vue.esm-browser.js"
        createApp({
            setup() {
                const data = reactive({
                    content:"www.baidu.com",
                    list: ["puppet", 18,"BeiJing"]
                })

                const add = () => {
                    data.list.push(data.content)
                    console.log(data.list);
                }

                const del =(index) => {
                    // 删除函数，第一个参数是删除下标，第二个参数是删除数量
                    data.list.splice(index,1)
                }

                const clear= () => {
                    data.list = []
                }

                return {
                    data,
                    add,
                    del,
                    clear
                }
            }
        }).mount("#app")



    </script>


    
</body>
</html>