<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopCar</title>
    <style>
        table {
            width: 600px;
            color: #8f8e8e;
            text-align: center;
            border-collapse: collapse;
        }
        table thead {
            background: #F5F5F5;
        }
        table tr {
            height: 30px;
            line-height: 30px;
            border: 1px solid #ececec;
        }
    </style>
</head>

<body>
    <!-- 实现购物车全选、添加商品、删除单个商品的功能 -->
    <div id="app">
        <table>
            <thead>
                <tr>
                    <!-- 监听选中状态，与selected值建立双向绑定， 监听状态改变事件，用于执行全选操作
                     优化点：不使用change事件，直接使用 watch监听器 -->
                    <!-- <td><input type="checkbox" v-model="data.selected" @change="selectAll"></td> -->
                    <td><input type="checkbox" v-model="data.selected"></td>

                    <td>商品</td>
                    <td>单价</td>
                    <td>库存</td>
                    <td colspan="2">操作</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(value, index) in data.list">
                    <!-- :value 是将复选框值与列表里的数据绑定
                         v-model 绑定的是复选框的选中状态，选中了更新 checkboxList值，将复选框值添加到checkboxList里
                         change 事件 用于在复选框的选中状态发生改变时触发相应的事件处理函数 -->
                    <!-- <td><input type="checkbox" :value="value" v-model="data.checkboxList" @change="checkSelectAll"></td> -->
                    <td><input type="checkbox" :value="value" v-model="data.checkboxList"></td>
                    <td>{{value.name}}</td>
                    <td>{{value.price}}</td>
                    <td>{{value.stock}}</td>
                    <td>
                        <button @click="sub(value)">-</button>
                        {{value.number}}
                        <button @click="add(value)">+</button>
                    </td>
                    <td><button @click="del(index, value.id)">删除</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>总价: {{totalPrice}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script type="module">
        import { createApp, reactive, watch, computed } from "./js/vue.esm-browser.js"
        createApp({
            setup() {

                const data = reactive({
                    selected: false,
                    checkboxList: [],
                    list: [
                        {
                            id: 1,
                            name: "铅笔",
                            price: 10,
                            number: 1,
                            stock: 3
                        },
                        {
                            id: 2,
                            name: "钢笔",
                            price: 20,
                            number: 3,
                            stock: 5
                        },
                        {
                            id: 3,
                            name: "毛笔",
                            price: 30,
                            number: 1,
                            stock: 6
                        }]
                })

                /**
                 * // 全选按钮的逻辑实现
                const selectAll = () => {
                    console.log("data.selected", data.selected);
                    if (data.selected) {
                        data.checkboxList = data.list
                    } else {
                        data.checkboxList = []
                    }
                    console.log("data.checkBoxList",data.checkboxList);
                }


                // 某项复选框改变时，判断全选状态是否还是全选
                const checkSelectAll = () => {
                    if (data.checkboxList.length == data.list.length && data.list.length != 0) {
                        data.selected = true
                    } else {
                        data.selected = false
                    }
                }


                // 计算选中商品的总价，优化点：可以使用计算属性
                const totalPrice = () => {
                    let total = 0
                    for (let i = 0; i < data.checkboxList.length; i++) {
                        total += data.checkboxList[i].price * data.checkboxList[i].number
                        
                    }
                    return total
                }
                **/
                // 监听是全选绑定的属性值的改变，来实现全选功能
                let flag = true
                watch(() => data.selected, (newValue, oldValue)=> {
                    console.log("newValue", newValue, "oldValue", oldValue);
                    if (newValue) {
                        data.checkboxList = data.list
                    } else {
                        if (flag) {
                            data.checkboxList = []
                        }
                    }
                    console.log("data.checkBoxList",data.checkboxList);
                })

                // 监听选中列表，来判断全选状态是否还是全选
                watch(()=> data.checkboxList, (newValue, oldValue)=> {
                    if (newValue.length == data.list.length && data.list.length != 0) {
                        flag = true
                        data.selected = true
                    } else {
                        // 对与全选功能实现的属性做修改，需要有个标志，只改变全选按钮的状态，而不改变各商品的复选按钮状态
                        flag = false
                        data.selected = false
                    }
                })
                
                // 计算选中商品的总价，优化点：可以使用计算属性
                const totalPrice = computed(() => {
                    /**
                     * reduce定义：用于对数组所有元素进行迭代操作，并将每次操作结果累加到一个初始值上
                     * reduce 接收两个参数，一个累加器函数，一个初始值
                     * reduce: 将 data.checkboxList 数组中的每个 checkbox 对象的 price 和 number 属性相乘
                     * 并将结果累加到初始值0上，最后返回累加结果
                     * */

                     // total(累加器) 用于存储每次计算的结果，初始值为0 
                     // item 当前元素，在每次迭代过程中，当前元素的值会被传递给回调函数
                     data.checkboxList.reduce()
                    return data.checkboxList.reduce((total, item) => total + item.price * item.number,0)
                })

                // 减掉一个商品数量
                const sub = (value)=> {
                    value.number --
                    if (value.number < 1) {
                        value.number = 1
                    }
                }
                // 添加一个商品数据
                const add = (value)=> {
                    value.number ++
                    if (value.number >= value.stock) {
                        value.number = value.stock
                    }
                }

                // 从购物车删除商品
                const del = (index, id) => {
                    // 商品列表删除
                    data.list.splice(index, 1)
                    let newArr = data.checkboxList.filter((value, index) => {
                        return value.id != id
                    })
                    // 选中列表删除
                    data.checkboxList = newArr
                    // 删完了再计算一下全选框复选状态
                    checkSelectAll()
                }

                

                return {
                    data,
                    // selectAll,
                    // checkSelectAll,
                    totalPrice,
                    sub,
                    add,
                    del
                }
            }
        }).mount("#app")
    </script>





</body>

</html>